body {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}
h1 {
  color: #1c1a1a;
  font-size: 14pt;
}
h2 {
  color: #2b9f2b;
  font-size: 12pt;
  margin-bottom: 5px;
}
h3 {
  color: #3737ef;
  font-size: 10pt;
  margin: 0;
}
p {
  color: #1c1a1a;
  margin-top: 1px;
  margin-bottom: 5px;
}
